:local {

  .Chart {
    margin-top: 16px;
  }

  .XAxisLabel :global .tick {
    position: relative;
    z-index: 2;
  }

  .XAxisLabel :global .tick text {
    color: var(--grey-darker);
    font-family: "Museo Sans Cyrl";
    font-size: 14px;
    font-weight: 300;
    transform: translate(0, 10px);
    text-transform: capitalize;
  }

  .XAxisLabel :global(.tick circle) {
    cursor: pointer;
  }

  .XAxisLabel :global .tick line {
    stroke: var(--grey-light);
  }

  .Loading {
    height: 300px;
  }

  .ChartWrapper {
    position: relative;
    width: 100%;
  }

  .ChartWrapper :global .domain {
    visibility: hidden;
  }

  .YAxisLabel :global .tick {
    position: relative;
    z-index: 1;
  }

  .YAxisLabel :global .tick text {
    color: var(--brown-dark);
    font-family: "Museo Sans Cyrl";
    font-size: 12px;
    font-weight: 300;
    transform: translate(-16px, 0px);
  }

  .ChartLine {
    cursor: pointer;
  }

  .ChartLine:hover {
    stroke-width: 3px;
  }

  .Stack {
    opacity: 1;
    transition: opacity .1s ease-out;
    cursor: pointer;
  }

  .StackItem {
    opacity: 1;
    transition: opacity .1s ease-out;
  }

  .Stack--opacity {
    opacity: .2;
  }

  .Stack--visible.Stack--opacity {
    opacity: 1;
  }

  .XScaleArrows {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 89px;
    margin: 0 40px 0 65px;
  }

  // .XScaleArrows--with-legend {
  //   margin: 0 60px 0 53px;
  // }

  .XScaleArrow--from {
    transform: rotate(90deg);
  }

  .XScaleArrow--to {
    transform: rotate(-90deg);
  }

  .XScaleArrowWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    cursor: pointer;
  }

  .XScaleArrowWrapper:hover {
    background-color: var(--blue);
  }

  .XScaleArrowWrapper:hover svg path {
    fill: var(--white);
  }

  .Svg {
    position: relative;
  }

  .XScaleArrowWrapper--disabled,
  .Arrow.Arrow--disabled {
    cursor: not-allowed;
  }

  .XScaleArrowWrapper--disabled svg path,
  .Arrow--disabled .ArrowIcon path {
    fill: var(--blue-light);
  }

  .Opacity {
    opacity: .2;
  }

  .rect-value {
    font-size: 11px;
  }

  .MetricValue {
    font-size: 11px;
  }

  .MetricValue--disabled {
    opacity: 0;
  }

  .MetricValue--visible {
    opacity: 1;
  }

  .rect-value--white {
    fill: var(--white);
  }

  .Rect-value--visible {
    display: inline-block;
  }

  .Legend {
    position: absolute;
    top: 38px;
    left: -1px;
    height: 346px;
    overflow: hidden;
  }

  .SliderWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    top: 0px;
    height: 100%;
    transition: top .5s;
  }

  .LegendDateItem {
    width: 59px;
    height: 24px;
    padding: 2px 0;
    border-radius: 2px;
    user-select: none;
    font-size: 12px;
    text-align: center;
    transition: opacity .1s ease 0s;
    text-transform: capitalize;
    cursor: pointer;
  }

  .LegendDateItem + .LegendDateItem {
    margin-top: 8px;
  }

  .LegendWrapper {
    position: absolute;
    top: 19px;
    right: 0;
    width: 60px;
    height: 426px;
  }

  .Arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: -1px;
    width: 60px;
    height: 24px;
    border-radius: 2px;
    cursor: pointer;
  }

  .Arrow .ArrowIcon path {
    fill: var(--blue);
  }

  .Arrow:hover .ArrowIcon path {
    fill: var(--white);
  }

  .Arrow:hover {
    background-color: var(--blue);
  }

  .Arrow--up {
    transform: rotate(180deg);
  }

  .Arrow--down {
    top: auto;
    bottom: 0px;
  }

  .Legend--no-slider {
    height: 389px;
  }

  .TickYear text {
    fill: var(--grey);
  }
}
