:local {

  .Event {
    width: 100%;
    height: 100%;
    padding: 16px 16px 32px 16px;
  }

  .Title {
    color: var(--blue);
    font-size: 16px;
  }

  .Field {
    margin-top: 16px;
  }

  .Field :global .UIKit__Input {
    width: 100%;
  }

  .Label {
    color: var(--grey-darker);
    font-size: var(--font-size-medium);
    line-height: 1.43;
  }

  .Field--colors {
    margin-top: 24px;
  }

  .Field--date :global .dates {
    margin-top: 8px;
    float: none;
  }

  .Field--date :global .app-datepicker {
    height: 32px;
    padding: 6px 18px 6px 11px;
    border: solid 1px var(--grey);
    border-radius: 2px;
    line-height: 19px;
    background: transparent;
  }

  .Field--date :global .date-btn {
    color: var(--grey-dark);
    font-size: 14px;
  }

  .Field--date :global .app-datepicker-popover {
    right: auto;
    left: 0;
  }

  .Field--date :global .date-0 .app-datepicker .app-datepicker-popover::before {
    right: auto;
    left: 0;
    border-right-color: transparent !important;
    border-left-color: var(--blue) !important;
  }

  .Field--date :global .dates .date-view-mode span.divider {
    margin-left: 10px;
  }

  .Field--date :global .app-datepicker--disabled {
    border: solid 1px var(--grey-disabled);
    background: var(--light);
    cursor: not-allowed;
  }

  .Field--date :global .app-datepicker--disabled .date {
    color: var(--grey) !important;
  }

  .Field--date :global .app-datepicker--disabled .divider {
    color: var(--grey) !important;
  }

  .Colors {
    display: flex;
    flex-wrap: wrap;
    width: 370px;
  }

  .Color {
    width: 64px;
    height: 24px;
    border-radius: 2px;
  }

  .ColorWrapper {
    margin: 4px 4px 4px 0;
    padding: 2px;
    border-radius: 2px;
    cursor: pointer;
  }

  .ColorWrapper--disabled {
    cursor: not-allowed;
  }

  .ColorWrapper--disabled .Color {
    opacity: .5;
  }

  .User {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .User__icon {
    position: relative;
    top: 2px;
    margin-right: 4px;
  }

  .Field--user,
  .Field--colors-margined {
    padding-bottom: 16px;
  }

  .Event :global .UIKit__FormButtons {
    padding-right: 0;
    padding-left: 0;
  }

  .Field :global .UIKit__InputWrapper--disabled .UIKit__InputArea {
    color: var(--grey);
  }
}