:local {

  .Layout {
    width: 100%;
    height: 525px;
    padding: 0 16px 16px;
    background-color: $white;
    transition: height 400ms;
    overflow: hidden;
  }

  .Layout--with-events-1 {
    height: 547px;
  }

  .Layout--with-events-2 {
    height: 560px;
  }

  .Layout--overflow-unset {
    overflow: unset;
  }

  .Layout--events-hidden-1 {
    height: 485px;
  }

  .Layout--events-hidden-2 {
    height: 514px;
  }

  .Layout--chart-hidden {
    height: 48px;
    transition: unset;
  }

  .Loading {
    max-height: calc(100% - 60px);
    background-color: $white;
  }
}