:local {

  .Legend {
    display: flex;
    align-items: flex-start;
    margin: 16px 0;
  }

  .Legend--dashboard {
    position: relative;
    top: 8px;
  }

  .Legend--dashboard-linear {
    margin-top: 4px;
    margin-bottom: 8px;
  }

  .Column--hidden {
    visibility: hidden;
  }

  .Column__name {
    width: 100%;
    color: $gray-darker;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .Column__name--title {
    display: block !important;
    color: $brown-dark;
    font-size: 12px;
  }

  .Column__row {
    position: relative;
    height: 20px;
  }

  .Column__row:not(.Column__row--title) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Column__row + .Column__row {
    margin-top: 8px;
  }

  .Legend--dashboard-linear .Column__row + .Column__row {
    margin-top: 4px;
  }

  .Column + .Column {
    margin-left: 1%;
  }

  .Column__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .Column__checkbox :global(.UIKit__Checkbox) {
    justify-content: center;
    width: 24px;
    height: 24px;
  }

  .Columns {
    display: flex;
    width: 100%;
  }
}
