:local {

  .Loading {
    height: 300px;
  }

  .BarChart {
    margin-top: 24px;
  }

  .BarChart--not-margined {
    margin-top: 0;
  }

  .ChartWrapper {
    position: relative;
    width: 100%;
  }

  .ChartWrapper :global .domain {
    visibility: hidden;
  }

  .YAxisLabel :global .tick {
    position: relative;
    z-index: 1;
  }

  .YAxisLabel :global .tick text {
    color: $brown-dark;
    font-family: "Museo Sans Cyrl";
    font-size: 12px;
    font-weight: 300;
    transform: translate(-16px, 0px);
  }

  .XAxisLabel :global .tick {
    position: relative;
    z-index: 2;
  }

  .XAxisLabel :global .tick text {
    color: $brown-dark;
    font-family: "Museo Sans Cyrl";
    font-size: 12px;
    font-weight: 300;
    transform: translate(0, 10px);
  }

  .XAxisLabel :global .tick line {
    stroke: #D4D4D4;
  }

  .XAxisLabel :global .tick--hidden text {
    display: none;
  }

  .XAxisLabel :global .tick circle {
    cursor: pointer;
  }

  .XAxisLabel :global .tick text:last-of-type {
    cursor: pointer;
  }

  .Svg {
    position: relative;
  }

  .Rectangle {
    position: relative;
    z-index: 2;
    opacity: 0;
    fill: transparent;
  }

  .Rectangle--hovered {
    opacity: .05;
    fill: $gray-darker;
  }

  .LineVisible {
    stroke: #D4D4D4 !important;
  }

  .TextVisible {
    display: block !important;
  }

  .BarChart--sites .YAxisLabel :global .tick text {
    font-size: 11px;
    transform: translate(-5px, 0px);
  }

  .BarChart--sites .XAxisLabel :global .tick text {
    font-size: 11px;
  }
}