:local {

  .DoubleDonut {
    height: 100%;
  }

  .Content {
    display: flex;
    height: 100%;
  }

  .Block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -10px;
    width: 50%;
  }

  .Legend {
    display: flex;
    align-items: center;
    position: absolute;
    top: 16px;
  }

  .Data {
    display: flex;
    align-items: center;
  }

  .Data + .Data {
    margin-left: 8px;
  }

  .Title {
    margin-right: 12px;
    border-bottom: 1px dashed $gray-dark;
  }

  .Color {
    position: relative;
    top: -2px;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    border-radius: 90px;
  }

  .Divider {
    width: 1px;
    min-width: 1px;
    background-color: $brown-light;
  }
}