:local {

  .Toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #F0F0F0;
  }

  .Toolbar--dashboard {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 8px;
    border-bottom: unset;
  }

  .Toolbar--dashboard-linear {
    padding-top: 0;
  }

  .Toolbar__left {
    display: flex;
    align-items: center;
  }

  .Toolbar__left :global(.Dimensions .icon) {
    top: 3px;
  }

  .Toolbar--dashboard-linear :global(.Dimensions) {
    margin-left: 12px;
  }

  .Toolbar__divider {
    width: 1px;
    height: 24px;
    margin: 0 16px;
    background-color: #D4D4D4;
  }

  .Toolbar__item {
    position: relative;
  }

  .Toolbar__name :global .EditableTitle__content {
    font-size: 16px;
    white-space: nowrap;
  }

  .Text {
    color: #1F282C;
    font-size: 16px;
  }

  .Toggler,
  .EventToggler,
  .ChartToggler {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: unset;
    border-radius: 2px;
    background-color: transparent;
    transition: background-color 200ms;
    cursor: pointer;
  }

  .ChartToggler:hover,
  .Toggler:not(.Toggler--active):hover,
  .EventToggler:not(.EventToggler--active):hover {
    background-color: #E8F5F9;
  }

  .Toggler--active,
  .EventToggler--active {
    background-color: $cyan;
  }

  .EventToggler--disabled {
    opacity: .7;
    cursor: not-allowed;
  }

  .Toggler--active .Toggler__icon {
    background-color: $white;
  }

  .ChartToggler :global .UIKit__Icon {
    width: 24px;
    height: 24px;
  }

  .ChartToggler--opened :global .UIKit__Icon {
    transform: rotate(180deg);
  }

  .Toggler__icon {
    width: 3px;
    height: 15px;
    border-radius: 100px;
    background-color: $cyan;
    transition: background-color 200ms;
  }

  .Toggler__icon + .Toggler__icon {
    margin-left: 3px;
  }

  .Events {
    display: flex;
  }

  .EventToggler__tooltip + .EventToggler__tooltip {
    margin-left: 12px;
  }

  .EventToggler :global .UIKit__Icon {
    width: 24px;
    height: 24px;
  }

  .AddEventIcon {
    position: relative;
    left: 2px;
  }

  .Toolbar__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .GroupTypes {
    display: flex;
    align-items: center;
  }

  .Toolbar :global .icon-cols-settings {
    color: $cyan;
  }

  .Toolbar :global .toggler {
    position: relative;
    top: 2px;
  }

  .TrendBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 16px;
  }

  .TrendBar__left,
  .TrendBar__right {
    display: flex;
    align-items: center;
  }

  .TrendBar__left {
    padding-left: 7px;
  }

  .TrendBar__right {
    padding-right: 59px;
  }

  .TrendName {
    color: $brown-dark;
    font-size: 12px;
  }

  .TrendIcon {
    width: 12px;
    height: 12px;
  }

  .TrendName + .TrendIcon,
  .TrendIcon + .TrendName {
    margin-left: 6px;
  }

  .TrendIcon--session {
    background-color: $brown;
  }

  .TrendIcon--conversion {
    background-image: url("#{$img-path}/legend-line.svg");
    background-size: contain;
  }

  .Toolbar__row {
    display: flex;
    width: 100%;
  }

  .Toolbar__row--margined {
    margin-top: -6px;
  }

  .Toolbar__row:last-of-type:not(.Toolbar__row--margined) {
    margin-top: 2px;
  }

  .Toolbar__row--stretched {
    justify-content: space-between;
  }

  .Toolbar--dashboard .Toolbar__name :global(.EditableTitle__content) {
    font-size: 13px;
  }

  .Toolbar--dashboard div[class^="ColumnCustomizer"] div[class^="Popover"] {
    top: -3px;
  }

  .Toolbar--dashboard .Popover {
    margin-left: -4px;
  }

  .Toolbar--dashboard .Dimensions :global(.Dimensions .Selected--brown) {
    align-items: center;
    margin-top: -3px;
  }

  .Toolbar__left,
  .Toolbar__right {
    width: 50%;
  }

  .Toolbar--dashboard :global .UIKit__TabsItem {
    padding: 12px 8px;
  }

  .Toolbar--dashboard :global .UIKit__Tabs {
    margin-right: 4px;
  }

  .Toolbar--dashboard .Toolbar__right :global(.UIKit__TabsItemText) {
    font-size: 12px;
    line-height: 12px;
  }

  .Toolbar--dashboard .Toolbar__right :global(.UIKit__TabsItem:after) {
    height: 3px;
  }
}
